<div class="section">
<div class="section-content">

<img src='img/download-lemonadejs.png' style='width:100%; max-width: 480px; float:right'>

<h1>Download</h1>

<p>LemonadeJS is a tiny JavaScript library 3kbytes, to help developers to build great web based applicacations. You can use the library selecting one of the options below:</p> 

<h2>NPM</h2>

<p>To install lemonadejs using NPM</p>

<pre class="code">
% npm install jexcel-pro
</pre>

<br>

<h2>CDN</h2>

<pre class="prettyprint linenums">
&lt;script src="https://lemonadejs.net/v1/lemonade.js">&lt;/script>
</pre>

<br>

<h2>Download</h2>

<a href='https://lemonadejs.net/v1/lemonade.zip'>https://lemonadejs.net/v1/lemonade.zip</a>

<br><br>



</div>
</div>