<div class="section">
<div class="section-content">

<nav data-id="learning-center">
    <h2>Learning Center</h2>

    <div>
    <h3>Documentation</h3>
    <ul>
        <li><a href="/v1/docs/getting-started" title="Getting started of jExcel Pro">Getting started</a></li>
        <li><a href="/v1/docs/quick-reference" title="List of all possible methods and events">Quick reference</a></li>
    </ul>


    <h3>Tools and extensions</h3>
    <ul>
        <li><a href="/v1/docs/charts" title="Charts integration">Charts</a></li>
        <li><a href="/v1/docs/themes" title="jExcel color theme editor">Color themes</a></li>
    </ul>
    </div>
</nav>

<i class='material-icons small-screen-only close' onclick="menu()">close</i>

</div>
</div>