<div class="section">
<div class="section-content">

<h1>HTML Elements</h1>

<p>It is </p>

<div id='root' class='p20 input'></div>

<pre class="prettyprint linenums">
&#60;html>
&#60;script src="https://lemonadejs.net/v1/lemonadejs.js">&#60;/script>

&#60;div id='root'>&#60;/div>

&#60;script>
var myComponent = (function() {
    var self = {};
    self.name = 'Paul Hodel';
    self.valid = true;

    var template = `&#60;div>
        &#60;div>Name: {{self.name}} isChecked: {{self.valid}}&#60;/div>
        &#60;label>&#60;input type="text" value="1" @bind="self.name" />&#60;/label>
        &#60;label>&#60;input type="checkbox" value="1" @bind="self.valid" /> Checkbox test&#60;/label>
    &#60;/div>`;

    return lemonade.element(template, self);
});

lemonadejs.render(myComponent, document.getElementById('root'));
&#60;/script>
&#60;/html>
</pre>

<script>
var myComponent = (function() {
    var self = {};
    self.name = 'Paul Hodel';
    self.valid = true;

    var template = `<div>
        <div>Name: {{self.name}} isChecked: {{self.valid}}</div>
        <label><input type="text" @bind="self.name"></label><br/>
        <label><input type="checkbox" value="1" @bind="self.valid"> Checkbox test</label><br/>
    </div>`;

    return lemonade.element(template, self);
});

document.addEventListener('DOMContentLoaded', function() {
    lemonade.render(myComponent, document.getElementById('root'));
});
</script>
</div>
</div>